<footer class="bg-dark text-center text-white">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <div class="container">
            <div class="container__div">
                <div class="copy">
                    &copy; {{year}}
                    <a target="_blank" href="https://www.materna.de">Materna Information & Communications SE</a>
                </div>
                <div class="impressum">
                    <a target="_blank" href="https://www.materna.de/DE/Service/Impressum/impressum_node.html;jsessionid=27A89F2B0E8891B7CB59F1FD397D9AA5.delivery1-replication">Impressum</a>
                </div>
            </div>
        </div>
    </div>
</footer>